{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    table, th, td {
        /* border: 1px solid black; */
        padding: 10px;
        table-layout: auto;
    }
    h5, a {
        margin-left: 20px;
    }
    .action-buttons {
        display: flex;
        align-items: center;
    }
    .action-buttons a {
        margin-right: 10px;
    }
    /* Mengganti warna baris terakhir tabel --> tapi kok ga bisa ya :D*/
    .inventory-item:last-child {
    background-color: rgb(135, 51, 51);
}
</style>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #45a049;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-size: 30px; color: white;">Stok Makanan</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="font-size: 18px; color: rgb(102, 186, 29);">Inventory</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 18px; color: white;">
            Hi, {{name}}!
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'main:profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="#">My inventory</a></li>
            <li><a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a></li>
            </ul>
        </li>
        </ul>
    </div>
    </div>
</nav>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr class="inventory-item">
            <td>{{ item.name }}</td>
            <td class="action-buttons">
                {{ item.amount }}
                <a href="increase/{{item.pk}}/" class="btn btn-success"><button>+</button></a>
                <a href="decrease/{{item.pk}}/" class="btn btn-danger"><button>-</button></a>
                <a href="remove_all/{{item.pk}}/" class="btn btn-warning"><button>Delete</button></a>
            </td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'main:create_product' %}" class="btn btn-primary">
    Add New Item
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:logout' %}" class="btn btn-danger">
    Logout
</a>

{% endblock %}
