{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}
    {% endblock %}
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Stok Makanan Page</h1>
    <hr>

    <h3>Name: {{ name }}</h3>
    <h3>Class: {{ class }}</h3>

    <hr>

    <h2>Stok Tersedia</h2>

    <hr>

    <table>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for item in items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.description }}</td>
        </tr>
        {% endfor %}
    </table>
    <br />

    <a href="{% url 'main:create_item' %}">
        <button>
            Add New Item
        </button>
    </a>
    {% endblock %}
</body>
</html>
