{% extends 'base.html' %}

{% block content %}
<h1>Stok Makanan</h1>

<h3>Name: {{name}}</h3>
<h3>Class: {{class}}</h3>

<hr>
<h3>Stok yang tersedia adalah sebagai berikut:</h3>

<style>
    .table-header {
        text-align: center;
    }

    .amount-button {
        text-align: center; 
    }

    table {
        text-align: center;
    }

    /* Memberikan warna latar belakang bergantian pada baris */
    tr:nth-child(even) {
        background-color: #f2f2f2; /* Warna latar belakang untuk baris genap */
    }

    tr:nth-child(odd) {
        background-color: #ffffff; /* Warna latar belakang untuk baris ganjil */
    }
</style>

<table>
    <tr>
        <th class="table-header">Name</th>
        <th class="table-header">Amount</th>
        <th class="table-header">Description</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
        <td>
            {{ item.amount }}
            <a href="increase/{{item.pk}}/" class="amount-button"><button>+</button></a>
            <a href="decrease/{{item.pk}}/" class="amount-button"><button>-</button></a>
            <a href="remove_all/{{item.pk}}/" class="amount-button"><button>Delete</button></a>
        </td>
        <td>{{ item.description }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'main:create_product' %}">
    <button>
        Add New Item
    </button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock %}
